<div class="Container"> 
    
    <div class="Slider">
        <div class="Slider__Content">
            <h2>Starfire Sonorant</h2>
            <p>Ánh sao lấp lánh, dệt mộng thành ca</p>
        </div>
    </div>

    <div class="Content Band">
        <h2 class="Content__Title">THE BAND</h2>
        <p class="Content__Sub-title">We love music</p>
        <p class="band__Text">We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="band__List-member">                    
            <div class="List-member__Member">
            <h3>Raiden Mei</h3>
                <img src="https://webstatic.hoyoverse.com/upload/contentweb/2023/02/15/07c717c930aecc641bade643d7d862e8_606307614740496015.png" alt="mei">
            </div>

            <div class="List-member__Member">
                <h3>Kiana Kaslana</h3>
                    <img src="https://webstatic.hoyoverse.com/upload/contentweb/2023/02/15/625700e827bb334b0b01807ef523cb41_2776066010194372950.png" alt="kiana">
                </div>

            <div class="List-member__Member">
            <h3>Bronya Zaychik</h3>
                <img src="https://webstatic.hoyoverse.com/upload/contentweb/2023/01/10/dbb168138fe42a86abbad08093120186_5825055061011396101.png" alt="bronya">
            </div>

        </div>
    </div>

    <div class="Content Tour">
        <h2 class="Content__Title">TOUR DATES</h2>
        <p class="Content__Sub-title">Remember to book your tickets!</p>
        <ul class="Tour__Tickets">
            <li class="Tickets">September
                <div class="Tickets__Sold-out">
                    Sold out
                </div>
            </li>

            <li class="Tickets">October
                <div class="Tickets__Sold-out">
                    Sold out
                </div>                        
            </li>

            <li class="Tickets">November
                <div class="Tickets__Remain">
                    3
                </div>
            </li>

        </ul>
        <div class="Tour__Places">
            <div class="Places">
                <div class="Places__Img">
                    <img src="https://www.w3schools.com/w3images/newyork.jpg" alt="New York">
                </div>

                <div class="Places__Info">
                    <p class="Places-Info__Title">New York</p>
                    <p class="Places-Info__Sub-Title">Fri 27 Nov 2016</p>
                    <p class="Places-Info__Text">Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                    <a href="#" class="Places__Buy btn">Buy Tickets</a>

                </div>
    
            </div>

            <div class="Places">
                <div class="Places__Img">
                    <img src="https://www.w3schools.com/w3images/paris.jpg" alt="Paris">
                </div>

                <div class="Places__Info">
                    <p class="Places-Info__Title">Paris</p>
                    <p class="Places-Info__Sub-Title">Sat 28 Nov 2016</p>
                    <p class="Places-Info__Text">Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                    <a href="#" class="Places__Buy btn">Buy Tickets</a>
                
                </div>
                
            </div>

            <div class="Places">
                <div class="Places__Img">
                    <img src="https://www.w3schools.com/w3images/sanfran.jpg" alt="San Francisco">
                </div>

                <div class="Places__Info">
                    <p class="Places-Info__Title">San Francisco</p>
                    <p class="Places-Info__Sub-Title">Sun 29 Nov 2016</p>
                    <p class="Places-Info__Text">Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                    <a href="#" class="Places__Buy btn">Buy Tickets</a>

                </div>
                
            </div>

        </div>
    </div>

    <div class="Content Content__Contact">
        <h2 class="Content__Title">CONTACT</h2>
        <p class="Content__Sub-title">Fan? Drop a note!</p>
    </div>

    <div class="Banner">
        
    </div>


</div>
