/* reset css nào */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /*đổi kiểu chữ ko chân cho đẹp*/
    font-family: Arial, Helvetica, sans-serif;
    /* với arial và helvetica là font chữ
    sans-serif là họ chữ
    => nếu trong máy ko có cả 2 font 
    thì nó sẽ lấy bất cứ font nào thuộc họ sans-serif */
}

.btn {
    display: inline-block;
    background-color: transparent; /*cho background thành trong suốt*/
    border: none; /*xóa viền*/
    outline: none; /*xóa vòng ngoài*/ 
    text-decoration: none; /*xóa gạch chân của link*/
    color: #fff;
}

.form {
    display: flex;
    flex-direction: column;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.main {
    /*để nguyên đê*/
}

.Header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 46px;
    color: #fff;
    background-color: #000;

    display: flex;
    justify-content: space-between;
    z-index: 1; /*auto < 1 <... số càng lớn thì nằm trên*/
}

.Header__Navbar > li > a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    display: inline-block;
    padding: 0 24px;
    cursor: pointer;
    text-transform: uppercase; /*in hoa lên*/
}

.Header__Navbar li:hover > a { /* do viết kiểu này => tất cả a đề bị ảnh hưởng kể cả a trong subnav__list*/
    background-color: #b1acac !important;
    color:  #000 !important;
}

.Header__Navbar {
    display: flex;
}

.Header ul {
    list-style: none;
}

.Subnav {
    position: relative;
}

.Subnav .set-caret-down {
    font-size: 14px;
}

.Subnav__List {
    display: none;   
    position: absolute;
    top: 46px;
    background-color: #fff ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);    
}

.Subnav__List a {
    text-decoration: none;
    padding: 4px 16px;
    line-height: 1.5;   
    display: block;
    color: #000 ;
    min-width: 160px;
}

.Subnav:hover .Subnav__List {
    display: flex;
    flex-direction: column;
}

.Header__Search {
    align-self: center;
    padding: 14px 24px;
    cursor: pointer;
}

.Header__Search:hover {
    background-color: #f44336;
    color: #fff;
}


/*///////////////////////////*/

.Container {

}

.Slider {
    /* min-height: 500px; */
    margin-top: 46px; /*do position: fixed sẽ làm header nổi lên
    => phần slider sẽ chiếm phần còn lại của header nên margin bù vào*/

    padding-top: 54.95%; /* là padding top theo % kích thước của chính nó
    => tỷ lệ giữa chiều cao và ngang là 56.25% và dù có thu ngỏ cửa sổ lại vẫn ok*/

    background: url(/assets/img/E_j8kn_VkAIXCL5.jpg) top center /cover no-repeat
    ;
    position: relative;
}

.Slider__Content {
    position: absolute;
    color: #4cf0cc;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
    text-align: center; /*căn chữ vào giữa khung chứa nó => căn tiêu đề ra giữa*/
}


@media (max-width: 590px){ /*nếu màn hình nhỏ hơn 590px thì ko hiển thị chữ*/
    .Slider__Content {
        display: none;
    }
}

.Slider__Content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.Slider__Content p  {
    font-size: 15px;
}

.Content {
    padding: 64px 16px;
}

.Content__Title {
    text-align: center;
    margin: 10px 0;
    font-size: 30px;
    font-weight: 400; /*độ dày chữ*/
    letter-spacing: 4px; /*khoảng cách giữa các chữ*/
    /* box-sizing: inherit; */

}

.Content__Sub-title {
    text-align: center;
    margin: 15px 0;
    font-size: 15px;
    font-style: italic; /*chữ in nghiêng*/
    opacity: 0.6;
}

.Band {
    width: 800px;
    padding: 64px 16px;
    margin: auto;
    box-sizing: border-box;

}

.band__Text {
    margin: 15px 0;
    text-align: justify; /*căn đều 2 đầu văn bản*/
    font-size: 15px;
    line-height: 1.4;

}

.band__List-member {
    display: flex;
    justify-content: space-around;
    padding: 32px 0;
}

.List-member__Member {
    text-align: center;
}

.List-member__Member h3 {
    margin: 15px 0;
    font-size: 15px;
}

.List-member__Member img {
    margin-bottom: 16px;
    height: 154px;
}


.Tour {
    background-color: #000;
    color: #fff;
}

.Tour__Tickets {
    max-width: 768px;
    margin: auto;
    border: 1px solid #ccc ;
    box-sizing: border-box;
    list-style: none;
    background-color: #fcfcfc;
    color: #000;
}

.Tickets {
    padding: 8px 16px;
    color: #757575;
    box-sizing: content-box;
}

.Tickets + .Tickets {
    border-top: 1px solid #ddd;
}

.Tickets__Sold-out {
    display: inline-block;
    background-color: #f44336;
    color: #fff;
    line-height: 1.4;
    padding: 0 8px;
    margin-left: 10px;
}

.Tickets__Remain {
    float: right;
    background-color: #000;
    color: #fff;
    line-height: 1.4;
    padding: 0 6px;
    border-radius: 12px;
    margin: -1px 16px ; /*margin âm chỉ dùng với float*/
}


.Tour__Places {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    padding: 32px 0;
    margin: auto;
    width: 768px;
}

.Places {
    color: #000;
    width: 32%;
}

.Places__Img img {
    width: 100%;
}

.Places__Img:hover {
    opacity: 0.6;
}

.Places__Info {
    display: inline-block;
    background-color: #fff;
    line-height: 1.4;
    font-size: 15px;
    padding: 15px 16px 0;
    margin-top: -4px; /*display: inline-block; và margin âm để loại bỏ khoảng trắng giữa div*/
}

.Places-Info__Title {
    font-weight: bolder;
    margin-bottom: 15px;
} 

.Places-Info__Sub-Title {
    opacity: 0.6;
}

.Places-Info__Text {
    margin: 15px 0;
}

.Places__Buy {
    background-color: #000;
    padding: 10px 18px;
    margin-bottom: 16px;
}

/* //////////////////////////// */
/* modal */


.Modal {    /* tạo lớp phủ mờ mờ (overlay) */
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none; /* ẩn đi */

}

.Modal__Open { /*sau này khi gán vào chung vs class Modal ở trên thì sẽ đổi display lại thành flex => hiện lên */
    display: flex;
}

.Modal-body {
    position: relative;
    width: 900px;
    min-height: 200px;
    background-color: #fff;
    margin: auto;

    animation: ModalFloatIn ease .4s;
}

.Modal__Close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
}

.Modal__Header {
    height: 130px;
    background-color: #009688;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    color: #fff;

    display: flex;
}

.Modal__Header i{
    margin-right: 16px;
}

.Modal__Container {
    padding: 16px;
}

.Modal-form__label {
    margin: 15px 0;
    font-size: 15px;
}

.Modal-form__input {
    padding: 8px;
    border: 1px solid black;
}

.Modal-form__btn {
    padding: 16px;
    margin: 16px 0;

    background-color: #009688;
}

.Modal__Footer {
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}

@keyframes ModalFloatIn {
    from{
        transform: translateY(-130px);
    }
    to{
        transform: translateY(0);
    }
}

/* //////////////////////////// */



.Content__Contact {

}

.Content__Banner {

}



/*///////////////////////////*/

.Footer {

}
