<div class="mt-4">
    <form action="" method="POST">
        <div class="mb-3">
            <label for="acc_name_id" class="form-label">tên đăng nhập</label>
            <input type="text" name="acc_name" class="form-control" id="acc_name_id">
        </div>
        
        <div class="mb-3">
            <label for="acc_pass_id" class="form-label">Password</label>
            <input type="password" name="pass" class="form-control" id="acc_pass_id">
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" name="R18" class="form-check-input" id="R18_id" value="ok">
            <label class="form-check-label" for="R18_id">tôi đã đủ 18 tuổi</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>